{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa deleniti dignissimos id illum incidunt nobis
        odio quidem quis quisquam totam. Deserunt dolorem esse, perferendis quaerat quis unde vitae voluptas? A.
    </div>
    <div>A blanditiis commodi consectetur cupiditate dolor dolore earum, enim excepturi explicabo fugiat harum id iusto,
        laudantium maiores maxime nihil officiis omnis provident quia ratione sapiente similique tempore temporibus
        ullam vero?
    </div>
    <div>Aliquid corporis excepturi fuga minus nam omnis soluta voluptates. Consequuntur deserunt est eum id illo maxime
        nam repellendus unde velit voluptate! Accusantium et facilis laudantium necessitatibus odio odit saepe unde.
    </div>
{% endblock %}

