{% extends 'base.html.twig' %}

{% block body %}
    <ul>
        {% for wish in wishes %}
            <li><a href="#">{{ wish }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block title %}

{% endblock %}

